* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--fontFamily-noto_sans);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-oxford-blue);
  color: var(--text-color);
}

:root {

    /**
     * COLORS
     */
  
     
    /** Background colors */
    --bg-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --bg-carolina-blue: hsla(199, 89%, 49%, 1);
    --bg-prussian-blue: hsla(216, 33%, 20%, 1);
    --bg-oxford-blue: hsla(222, 44%, 13%, 1);
    --bg-oxford-blue-2: hsla(222, 47%, 11%, 1);
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #0ef;
  
    /** Text colors */
    --text-color: #fff;
    --text-white: hsla(0, 0%, 100%, 1);
    --text-alice-blue: hsla(216, 100%, 95%, 1);
    --text-columbia-blue: hsla(199, 69%, 84%, 1);
    --text-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --text-carolina-blue: hsla(199, 89%, 49%, 1);
    --text-shadow-blue: hsla(217, 24%, 59%, 1);
    --text-slate-gray: hsla(217, 17%, 48%, 1);
  
  
  
    /** Border colors */
    --border-wild-blue-yonder: hsla(216, 33%, 68%, 1);
    --border-prussian-blue: hsla(216, 33%, 20%, 1);
    --border-white: hsl(0, 0%, 100%);
    --border-white-alpha-15: hsla(0, 0%, 100%, 0.15);
  
 
  /**
   * BOX SHADOW
   */

  --shadow-1: 0 8px 20px 0 hsla(0, 0%, 0%, 0.05);
  --shadow-2: 0px 3px 20px hsla(180, 90%, 43%, 0.2);
   
    /**
   * BORDER RADIUS
   */

  --radius-6: 6px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-48: 48px;
  --radius-circle: 50%;
  --radius-pill: 200px;


  /** Gradient colors */
  --gradient-1: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%);
  --gradient-2: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  --gradient-3: linear-gradient(0deg, #000d1a, transparent);

    /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
  /**
     * TYPOGRAPHY
     */
  
    /** Font family */
    --fontFamily-noto_sans: 'Noto Sans', sans-serif;  
  
  }

  section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
  }
  
.header {
   position: fixed;
   top: 0;
   left:0;
   width: 100%;
   padding: 2rem 9%;
   background: var(--bg-oxford-blue);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
#nav-menu a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}

#nav-menu a:hover,
#nav-menu a.active {
  color:var(--bg-carolina-blue)
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/*  */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img img {
  width: 35vw;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 2rem;
}
span {
  color: var(--bg-carolina-blue);
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--bg-carolina-blue);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--bg-carolina-blue);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
  }
  
  .social-media a:hover {
    background: var(--bg-carolina-blue);
    color: var(--bg-oxford-blue);
    box-shadow: 0 0 1rem var(--bg-carolina-blue);
  }
  
  .button {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-carolina-blue);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-carolina-blue);
    font-size: 1.6rem;
    color: var(--bg-oxford-blue);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
  }
  .button:hover{
    box-shadow: none;
  }
  
  /*-----------------------------------*\
    #ABOUT SECTION
  \*-----------------------------------*/
   
  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-oxford-blue-2);
  }
  
  .heading {
    text-align: center;
    font-size: 4.5rem;
  }
  
  .about-content h2 {
    text-align: left;
    line-height: 1.2;
  }
  .about-content h3 {
    font-size: 2.6rem;
  }
  .about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
  }
  
  
  /*-----------------------------------*\
    #SKILSS 
  \*-----------------------------------*/
  
  .skills h2 {
    margin-bottom: 5rem;
  }
  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .skills-container .skills-card {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--border-prussian-blue);
    transition: .5s ease;
  }
  .skills-container .skills-card:hover {
    border-color: var(--bg-carolina-blue);
    transform: scale(1.02);
  } 
  .skills-card i {
    font-size: 7rem;
    color: var(--bg-carolina-blue);
  }
  .skills-card h3 {
    font-size: 2.6rem;
  
  }
  .skills-card p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
  }
  
  
  /*-----------------------------------*\
    #Projects
  \*-----------------------------------*/
  
  .project {
    background: var(--bg-oxford-blue-2);
  }
  .project h2 {
    margin-bottom: 4rem;
  }
  .project-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
  }
  
  .project-container .project-card {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-carolina-blue);
    overflow: hidden;
    display: flex;
  
  }
  .project-card img {
    width: 100%;
    transition: .5s ease;
  }
  .project-card:hover img {
    transform: scale(1.1);
  }
  
  .project-card .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--bg-prussian-blue) );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translate(100%);
    transition: .5s ease;
  }
  .project-card:hover .project-layer {
    transform: translateY(0);
  }
  
  .project-layer h4 {
    font-size: 3rem;
  }
  .project-tech-stack {
    font-size: 2rem;
  }
  .project-layer p {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
  }
  .project-layer a {
    display:inline-block;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
  }
  .project-layer a i {
    font-size: 2rem;
    color: var(--bg-oxford-blue-2);
  }
   
  /*-----------------------------------*\
    #Contact
  \*-----------------------------------*/
/*   
  .contact {
    color: var(--bg-prussian-blue);
  }
  
  .contact h2 {
    margin-bottom: 3rem;
  }
  
  .contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact form .input-box input,
  .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-alice-blue);
    background: var(--bg-prussian-blue);
    border-radius: .8rem;
    margin: .7rem 0;
  }
  .contact form .input-box input {
    width: 49%;
  }
  .contact form textarea {
    resize: none;
  }
  
  .contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
  }
  /*-----------------------------------*\
    #Tech Stacks
  \*-----------------------------------*/
  
  .tags .grid-list { grid-template-columns: repeat(auto-fit, minmax(125px, 1fr)); }
  
.container { padding-inline: 16px; }
  .tag-btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 18px;
    border-radius: var(--radius-16);
  }
  
  .tag-btn:is(:hover, :focus-visible) {
    box-shadow: var(--shadow-2);
    background-image: linear-gradient(var(--bg-oxford-blue), var(--bg-oxford-blue)), var(--gradient-1);
    background-clip: padding-box, border-box;
    border-color: transparent;
    transform: translateY(-2px);
    transition: var(--transition-1);
  }
  
  .tag-btn img {
    width: 100%;
    max-width: 32px;
  }
  
  .grid-list {
    display: grid;
    gap: 30px;
    list-style: none;
  }
  
  .card {
    background-color: var(--bg-oxford-blue-2);
    border: 1px solid var(--border-prussian-blue);
  }
  .btn-text {
    color: #7d91b0;
  }


  
/*-----------------------------------Contact----------------------------------------*/
#contact {
  display: flex;
}
.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left a{
  margin-top: 30px;
      color: #ababab;
          margin-right: 15px;
          text-decoration: none;
  
}

.contact-left div{
  display: grid;
}

.contact-left a i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: #ff004f;
  border-radius: 10px;
  border: none;
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}